
{% load staticfiles %}
<html>

<body>
	{% include "header.html" %}
	<div class="butt">
  	<button class="wrap" id="taptap">Help! content</button>
  </div>

  	<p id="helping" style="visibility: hidden;">This is the website which helps you to type your own content by the speech. You can speak to the system and you need not worry about a full stop. The system will take care of it. After completing your speech model please say "exit exit" as your last statement to exit the process.</p>
<div class="mydoc">
<p id="type">

	<b><p class="onebyone" style="color: greens">Hint:</p></b>
</p>
</div>

{% include "footer.html" %}
</body>
</html>